<html>
        <head>
            <title>Olga's blog</title>
        </head>
        <body>
            <h1>Hello!</h1>
            <h2>It's DjangoGirlsBishkek!</h2>
            <a href="https://djangogirls.org">DjangoGirls.org</a>
            <ul>
            	<li><a href="https://tutorial.djangogirls.org/ru/">Руководство Django Girls</a></li>
            	<li><a href="https://tutorial.djangogirls.org/ru/installation/">Установка</a></li>
            	<li><a href="https://tutorial.djangogirls.org/ru/how_the_internet_works/">Как работает Интернет</a></li>
            	<li><a href="https://tutorial.djangogirls.org/ru/django_start_project/">Твой первый проект на Django!</a></li>
            	<li><a href="https://tutorial.djangogirls.org/ru/django_models/">Модели Django</a></li>
            </ul>
        </body>
    </html>